* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.filters {
  margin: 10px;
}

.filters-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid #ddd;
}

.placeType-filter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

label {
  float: left;
}

.custom-placeType [type="radio"]:checked,
.custom-placeType [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label,
.custom-placeType [type="radio"]:not(:checked) + .custom-placeType__label {
  position: relative;
  padding: 6px 0 4px 38px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label:before,
.custom-placeType
  [type="radio"]:not(:checked)
  + .custom-placeType__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label:after,
.custom-placeType
  [type="radio"]:not(:checked)
  + .custom-placeType__label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #00154d;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.custom-placeType
  [type="radio"]:not(:checked)
  + .custom-placeType__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #00154d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid #ddd;
}

button:hover {
  background-color: #002966;
}

button:active {
  background-color: #004085;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  opacity: 0.65;
}
