* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Стили для radius-filter */
.radius-filter {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.radius-filter label {
  font-size: 18px;
  margin-bottom: 5px;
}

.radius-filter input[type="number"] {
  width: 80px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.radius-filter input[type="number"]:focus {
  outline: none;
  border-color: #023e8a;
  box-shadow: 0 0 5px rgba(2, 62, 138, 0.5);
}

/* Filters */
.filters {
  margin: 10px;
}

.filters-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid #ddd;
}

.placeType-filter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}

label {
  float: left;
}

.custom-placeType {
  flex: 1 1 45%; /* Allow items to grow and shrink, taking about 45% of the container's width */
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-placeType [type="radio"]:checked,
.custom-placeType [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label,
.custom-placeType [type="radio"]:not(:checked) + .custom-placeType__label {
  position: relative;
  padding: 6px 0 4px 38px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label:before,
.custom-placeType
  [type="radio"]:not(:checked)
  + .custom-placeType__label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label:after,
.custom-placeType
  [type="radio"]:not(:checked)
  + .custom-placeType__label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #03045e;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.custom-placeType
  [type="radio"]:not(:checked)
  + .custom-placeType__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-placeType [type="radio"]:checked + .custom-placeType__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* Filter end */

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px 0 5px 0;
}

.buttons button {
  margin-right: 50px;
  padding: 3px 8px;
  font-size: 14px;
  color: #fff;
  background-color: #03045e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid #ddd;
}

.buttons button:hover {
  background-color: #0077b6;
}

.main-app {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .buttons button {
    margin-right: 20px;
  }

  .placeType-filter {
    flex-wrap: wrap;
  }

  .custom-placeType__label strong {
    font-size: 12px;
  }

  .main-app {
    flex-direction: column-reverse;
  }
  #map {
    width: 100% !important;
    height: 400px !important;
  }

  .slider-main {
    width: 100% !important;
    padding: 20px 0 !important;
  }

  .slider-container {
    width: 100% !important;
  }

  .local-attraction-info {
    flex-direction: column-reverse;
  }

  .text-info {
    width: 100% !important;
  }

  .photo {
    width: 100% !important;
  }
  .slide-active {
    max-height: 700px !important;
  }
}

@media (max-width: 768px) {
  .header-button {
    margin-right: 20px !important;
  }

  .header-left {
    padding: 10px;
    gap: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .slider-main {
    padding: 0;
    border-radius: 0;
    min-height: 600px;
  }

  .text-info {
    width: 100% !important;
  }
}

@media (max-width: 425px) {
  .header {
    flex-direction: column;
  }
  .header-button {
    margin-right: 0 !important;
  }
}
